/****** Main Styling ******/

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    background-color: snow;
}

.clementine-text {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-family: 'Hi Melody', cursive;
    font-size: 16px;
}

/*content area*/
.content {
    margin: 10pt 10pt;
    padding: 0;
    width: 100%;
    font-size: 20px;
}

.content .bigButton{
    width: 100pt;
    height: 100pt;
    background-color: skyblue;
    text-align: center;
    line-height: 50%;
    margin: 5px;
    border: 2px solid white;
    border-radius:50%;
}

.content .bigButton a{
    color: white;
    position: relative;
    top: 50%;
}

.content .bigButton a img{
    background-color: black;
}


