/****** Main Styling ******/

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    background-color: skyblue;
}

.clementine-text {
    margin: 0;
    padding-left: 2pt;
    padding-top: 2pt;
    list-style-type: none;
    font-family: 'Hi Melody', cursive;
    font-size: 16px;
    color: lightcoral;
}

/*content area*/
.content {
    margin: 10pt 10pt;
    padding: 0;
    width: 100%;
    font-size: 20px;
}

.content .menu{
    padding-top: 1pt;
    height: 432pt;
    width: 110pt;
    float:left;
}

.content .menu .bigButton{
    width: 100pt;
    height: 100pt;
    background-color: skyblue;
    text-align: center;
    line-height: 50%;
    margin: 5px;
    border: 2px solid white;
    border-radius:50%;
}

.content .menu .bigButton a img{
    width: 100pt;
    height: 100pt;
    border-radius:50%;
}

.content .contentPage{
    float:left;
    margin-left: 20px;
    padding-top: 1pt;
    height: 432pt;
    width: 700pt;
    background-color: skyblue;
    position: relative;
    border-radius: 25%;
}

.content .contentPage div{
    background-color: white;
    height: 332pt;
    width: 600pt;
    margin-left: 50pt;
    margin-top: 50pt;
    position: absolute;
}

.content .contentPage div h1{
    text-align: center;
}

