/****** Main Styling ******/

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.clementine-text {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    font-family: 'Hi Melody', cursive;
    font-size: 16px;
    background-color: snow;
}

/*content area*/
.content {
    margin: 10pt 10pt;
    padding: 0;
    width: 100%;
    background-color: snow;

}

.content .bigButton{
    width: 100pt;
    height: 100pt;
    background-color: salmon;
    float: left;
    text-align: center;
    margin: 5px;
    border: 2px solid white;
}

.content .bigButton a{
    color: white;
    position: relative;
    top: 50%;
}
