<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Korean Learner</title>

    <!--使用的框架-->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

    <!--字体css-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Sunflower:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <!--画面-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

<div ng-controller="learnerController" class="allView">
<div class="container">
    <div>
        <p class="clementine-text">---韩语学习---</p>
    </div>

    <div class="content">
        <div class="menu">
            <div class="bigButton">
                <!--<a type="button" href="/koLearner/listen.html">-->
                <a type="button" ng-click="changeToListen()">
                    <img src="/images/listen.png" height="50" width="50" alt="listening" />
                </a>
            </div>
            <div class="bigButton">
                <!--<a type="button" href="/koLearner/speak.html">-->
                <a type="button" ng-click="changeToSpeak()">
                    <img src="/images/speak.png" height="50" width="50" alt="speaking" />
                </a>
            </div>
            <div class="bigButton">
                <!--<a type="button" href="/koLearner/read.html">-->
                <a type="button" ng-click="changeToRead()">
                    <img src="/images/read.png" height="50" width="50" alt="reading" />
                </a>
            </div>
            <div class="bigButton">
                <!--<a type="button" href="/koLearner/write.html">-->
                <a type="button" ng-click="changeToWrite()">
                    <img src="/images/write.png" height="50" width="50" alt="writing" />
                </a>
            </div>
        </div>
        <div class="contentPage">
            <p id="listenPage">1</p>
            <p id="speakPage">2</p>
            <p id="readPage">3</p>
            <p id="writePage">4</p>
        </div>
    </div>

    <!--<div class="goodwords">-->
        <!--<p>每天一句地道韩语</p>-->
        <!--<br/>-->
        <!--<div class="btn-container">-->
            <!--<a type="button" href="/pages/words.html" class="btn btn-add">Go!</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="songs">-->
        <!--<p>每周一首韩文歌</p>-->
        <!--<br/>-->
        <!--<div class="btn-container">-->
            <!--<a type="button" href="/pages/songs.html" class="btn btn-add">Go!</a>-->
        <!--</div>-->
    <!--</div>-->


</div>
</div>

<script type="text/javascript" src="/koLearnerControllers/learner.client.controller.js"></script>
</body>
</html>